.container {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}
main {
  flex-grow: 1;
}
/* start header */
.header-items .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 156px;
}
nav {
  display: flex;
  align-items: center;
}
nav .logo {
  margin-right: 76px;
}
.header-link {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}
.header-contacts ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.logo,
.contact,
.link {
  text-decoration: none;
  color: inherit;
}
.header-items .logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-items a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-contacts {
  font-style: normal;
}
.header-contacts .contact {
  color: #434455;
}
.header-link .link {
  font-weight: 500;
  color: #2e2f42;
}
.header-link .link:hover,
.header-link .link:focus {
  color: #404bbf;
}
.header-items a:hover,
.header-items a:focus {
  color: #4d5ae5;
}
.header-contacts a:hover,
.header-contacts a:focus {
  color: #404bbf;
}

.logo .logo-span:hover,
.logo .logo-span:focus {
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}
/* end header */
/* start main-section */
.main-section .container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-section {
  background-color: #2e2f42;
  line-height: 1.07;
}
.page-button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: 0;
}
.main-page-title {
  font-size: 56px;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
}
/* end main-section */
/* start main-section-1 */
.main-section-1 .container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-content: center;
  margin: 0 126px 0;
}
.main-section-1 .container li {
  list-style-type: none;
  width: calc((100% - 72px) / 4);
}
.main-section-1 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-section-1 .section-title {
  font-weight: 500;
}
.main-section-1 .section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* end main-section-1 */
.page-title {
  font-size: 36px;
}
.section-title {
  font-size: 20px;
}
.section-text {
  font-size: 16px;
}

.main-section-2 {
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  background-color: #f4f4fd;
}
.main-section-2 .page-title {
  letter-spacing: 0.02em;
  background-color: #f4f4fd;
}
.main-section-2 .page-list .page-element {
  background-color: #ffffff;
}
.main-section-2 .section-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-section-2 .section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-section-3 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.main-section-3 .section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-section-3 .section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-footer {
  background-color: #2e2f42;
  line-height: 1.5;
}
.section-footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
}
.section-footer .logo-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.section-footer .logo-span {
  color: #f4f4fd;
  text-transform: uppercase;
}
.section-footer .logo:hover,
.section-footer .logo:focus {
  color: #4d5ae5;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}
